body {
    background-color: #90afc5;
    font-family: 'Ubuntu', sans-serif;
}

.nav-bar {
    display: flex;
    align-items: center;
    background: #464646;
    justify-content: space-between;
    height: 80px;
    padding: 0px 15px;
  }
.nav-bar .nav-links a {
    color: mintcream;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5rem;
}
.nav-bar .nav-links a:hover {
    color: skyblue;
    transition: 0.7s;
}
.nav-bar .nav-links i {
    padding-right: 10px;
}

a:visited {
    color: green; 
}

.selectable {
    color: black;
    background-color: #eee;
    border-radius: 3px;
    padding: 0 3px;
    font-weight: bold;
    -webkit-user-select: all; 
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

@media (max-width: 1024px) {
    .content-wrapper {
        display: none; 
    }
    .mobile-content {
        display: block;
    }
}

@media (min-width: 1024px) {
    .mobile-content {
        display: none; 
    }
}